div.scatterplot-em {
    margin: 10px;
    border: 1px dotted gray;
    width: 800px;
    height: 480px;
}

h3.scatterplot-em {
    color: #000066;
    font-family: 'Open Sans', arial, sans-serif;
    font-weight: 600;
}